.dataTable a:not(.btn):not(i) {
	color: #01c0c8;
	font-weight: 400;
	padding: 4px 6px;
}

.dataTable a:hover:not(.btn):not(i) {
	color: #01c0c8;
	padding: 4px 6px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: .25rem;
}

.dataTable .label {
	padding: 5px 10px;
	line-height: 13px;
	color: #fff;
	font-weight: 400;
	border-radius: .25rem;
	font-size: 85%;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item:active {
	background-color: rgba(255, 255, 255, .15);
}

.sidebar-nav ul li a {
	color: #efefef;
}

.sidebar-nav>ul>li>a i {
	color: #efefef;
}

#dataTable .btn:hover,
#dataTable .btn:focus {
	color: #fff
}

.btn-secondary:hover {
	border-color:#dee2e6;
}

.bg-orange {
	background-color: #ff6849
}

ul.customtab a.nav-link {
	font-weight: 400;
	font-size: 14px;
}

ul.customtab a.nav-link:hover {
	color: #ff6849;
}

ul.customtab a.nav-link.active {
	color: #ff6849;
	border-bottom-color: #ff6849;
}

.form-switch .form-check-input:checked {
	background-color: #00c292;
	border-color: #00c292;
}

.form-check-input:checked {
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.tab-icon {
	width: 25px;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;

}

/******************************* SELECT2 *******************************/
/* .select2.select2-container.select2-container--bootstrap-5 {
	width: 100% !important;
} */

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option,
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field,
.select2-container--bootstrap-5 .select2-selection {
	font-size: .875rem !important;
	padding-top: .450rem !important;
}

.select2-container--bootstrap-5 .select2-selection {
	min-height: 38px !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
	border-color: #ced4da !important;
	box-shadow: inherit !important;
}

/* .select2-container--bootstrap-5 .select2-dropdown .select2-results__options:hover {
		background-color: #03a9f3 !important;
	} */

.select2-lg+.select2>.selection>.select2-selection {
	height: 50px !important;
	padding-top: 10px !important;
	font-size: 20px !important;
	border-radius: 0px !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[role=group] .select2-results__group {
	font-weight: 900 !important;
}

.select2-results__option[aria-disabled='true'] {
	/*hide disable option on group select*/
	display: none;
}

#btnPreSubmit,
#btnSubmit,
#btnReset,
#btnApplyFilter,
#btnResetFilter,
.btnSubmit {
	width: 125px
}

.border-bottom-danger {
	border-bottom-color: #ff6849 !important
}

input[readonly] {
	cursor: not-allowed
}

@media (min-width: 1200px) {
	.modal-xl {
		max-width: 1140px;
	}
}

@media (min-width: 767px) {
	.horizontal-nav .page-titles {
		background: #fff !important;
		box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
		padding: 14px 10px;
		margin: -10px -25px 25px -25px;
	}
}

@media (max-width: 767px) {
	.customtab li.nav-item {
		width: 100%;
	}

	#btnPreSubmit,
	#btnSubmit,
	#btnReset,
	#btnApplyFilter,
	#btnResetFilter {
		/* width: 100%; */
		margin-bottom: .5rem;
	}
}

@media print {
	.box-title {
		margin: 0 0 12px;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 14px;
	}

	.d-flex {
		display: flex !important;
	}

	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left;
	}

	.col-sm-12,
	.col-md-12 {
		width: 100%;
	}

	.col-sm-print-12,
	.col-md-print-12 {
		width: 100% !important;
		left: 0 !important;
		right: 0 !important;
	}

	.col-sm-11,
	.col-md-11 {
		width: 91.66666667%;
	}

	.col-sm-10,
	.col-md-10 {
		width: 83.33333333%;
	}

	.col-sm-9,
	.col-md-9 {
		width: 75%;
	}

	.col-sm-8,
	.col-md-8 {
		width: 66.66666667%;
	}

	.col-sm-7,
	.col-md-7 {
		width: 58.33333333%;
	}

	.col-sm-6,
	.col-md-6 {
		width: 50%;
	}

	.col-sm-print-6,
	.col-md-print-6 {
		width: 50% !important;
		left: 0 !important;
		right: 0 !important;
	}

	.col-sm-5,
	.col-md-5 {
		width: 41.66666667%;
	}

	.col-sm-4,
	.col-md-4 {
		width: 33.33333333%;
	}

	.col-sm-3,
	.col-md-3 {
		width: 25%;
	}

	.col-sm-2,
	.col-md-2 {
		width: 16.66666667%;
	}

	.col-sm-1,
	.col-md-1 {
		width: 8.33333333%;
	}

	.col-sm-pull-12,
	.col-md-pull-12 {
		right: 100%;
	}

	.col-sm-pull-11,
	.col-md-pull-11 {
		right: 91.66666667%;
	}

	.col-sm-pull-10,
	.col-md-pull-10 {
		right: 83.33333333%;
	}

	.col-sm-pull-9,
	.col-md-pull-9 {
		right: 75%;
	}

	.col-sm-pull-8,
	.col-md-pull-8 {
		right: 66.66666667%;
	}

	.col-sm-pull-7,
	.col-md-pull-7 {
		right: 58.33333333%;
	}

	.col-sm-pull-6,
	.col-md-pull-6 {
		right: 50%;
	}

	.col-sm-pull-5,
	.col-md-pull-5 {
		right: 41.66666667%;
	}

	.col-sm-pull-4,
	.col-md-pull-4 {
		right: 33.33333333%;
	}

	.col-sm-pull-3,
	.col-md-pull-3 {
		right: 25%;
	}

	.col-sm-pull-2,
	.col-md-pull-2 {
		right: 16.66666667%;
	}

	.col-sm-pull-1,
	.col-md-pull-1 {
		right: 8.33333333%;
	}

	.col-sm-pull-0,
	.col-md-pull-0 {
		right: auto;
	}

	.col-sm-push-12,
	.col-md-push-12 {
		left: 100%;
	}

	.col-sm-push-11,
	.col-md-push-11 {
		left: 91.66666667%;
	}

	.col-sm-push-10,
	.col-md-push-10 {
		left: 83.33333333%;
	}

	.col-sm-push-9,
	.col-md-push-9 {
		left: 75%;
	}

	.col-sm-push-8,
	.col-md-push-8 {
		left: 66.66666667%;
	}

	.col-sm-push-7,
	.col-md-push-7 {
		left: 58.33333333%;
	}

	.col-sm-push-6,
	.col-md-push-6 {
		left: 50%;
	}

	.col-sm-push-5,
	.col-md-push-5 {
		left: 41.66666667%;
	}

	.col-sm-push-4,
	.col-md-push-4 {
		left: 33.33333333%;
	}

	.col-sm-push-3,
	.col-md-push-3 {
		left: 25%;
	}

	.col-sm-push-2,
	.col-md-push-2 {
		left: 16.66666667%;
	}

	.col-sm-push-1,
	.col-md-push-1 {
		left: 8.33333333%;
	}

	.col-sm-push-0,
	.col-md-push-0 {
		left: auto;
	}

	.col-sm-offset-12,
	.col-md-offset-12 {
		margin-left: 100%;
	}

	.col-sm-offset-11,
	.col-md-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-sm-offset-10,
	.col-md-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-sm-offset-9,
	.col-md-offset-9 {
		margin-left: 75%;
	}

	.col-sm-offset-8,
	.col-md-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-sm-offset-7,
	.col-md-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-sm-offset-6,
	.col-md-offset-6 {
		margin-left: 50%;
	}

	.col-sm-offset-5,
	.col-md-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-sm-offset-4,
	.col-md-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-sm-offset-3,
	.col-md-offset-3 {
		margin-left: 25%;
	}

	.col-sm-offset-2,
	.col-md-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-sm-offset-1,
	.col-md-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-sm-offset-0,
	.col-md-offset-0 {
		margin-left: 0%;
	}
	
}
